:root {
  font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans,Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 1.3em;
  line-height: 1.5;
}

h1,
h2{
  font-family: 'Arvo', serif;
  line-height: 1.3;
}
h1{
  font-size: 2em;
}

.cat-grid-container{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

ul {
  list-style-type: none;
}
.catnav{
  padding: 1em;
  width: 100%;
}

.chapnav ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    -webkit-box-shadow: 7px 5px 6px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 5px 6px 2px rgba(0,0,0,0.75);
    box-shadow: 7px 5px 6px 2px rgba(0,0,0,0.75);
}
