:root {
  font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans,Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 1.3em;
  line-height: 1.5;
}

h1,
h2{
  font-family: 'Arvo', serif;
  line-height: 1.3;
}
h1{
  font-size: 2em;
}

.cat-grid-container{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

ul {
  list-style-type: none;
}
.chapnav{
  padding: 1em;
  width: 100%;
  background-color: #7390B2;
}
html * {

    box-sizing: border-box;
}

.catnav ul {
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
    border-radius: 24px 24px 24px 24px;
  -moz-border-radius: 24px 24px 24px 24px;
  -webkit-border-radius: 24px 24px 24px 24px;
   border: 7px solid #000000;
}
